.header {
  height: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--gray-700);
}

.header h1 {
  color: var(--blue-300);
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 3rem;
  margin-left: .125rem;
}

.header h1 > span {
  color: var(--purple-600);
}