.taskContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.taskContainer form {
  display: flex;
  align-items: center;
  gap: .5rem;
  width: 46rem;
  height: 2.5rem;

  margin-top: -1.1rem;
}

.taskContainer form input {
  width: 100%;
  height: 100%;
  
  padding: 1rem;

  border: none;
  outline: 1px solid var(--gray-700);
  background: var(--gray-500);
  color: var(--gray-300);
  border-radius: 2px;
}

.taskContainer form button {
  height: 100%;
  padding: .3rem 1.5rem;
  background: var(--blue-600);
  color: var(--gray-100);
  border: none;
  border-radius: 2px;
}

.taskWrapper {
  width: 46rem;
  display: grid;
  gap: 1.5rem;

}

.taskWrapper header {
  display: flex;
  justify-content: space-between;
}

.taskWrapper header p {
  display: flex;
  align-items: center;
  gap: .5rem;

  color: var(--blue-600);
}

.taskWrapper header p:last-child {
  color: var(--purple-600);
}


.taskWrapper header p span {
  color: var(--gray-200);
  font-size: 1rem;
  padding: .2rem .4rem;

  background: var(--gray-400);
  border-radius: 40%;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .75rem;

  text-align: center;
  /*padding: 4rem 1.5rem;*/
}

.tasks svg {
  margin-bottom: 1rem;
}