:root {
  --white: white;
  --gray-100: #F2F2F2;
  --gray-200: #D9D9D9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1A1A1A;
  --gray-700: #0D0D0D;

  --purple-100: #8284FA;
  --purple-600: #5E60CE;

  --blue-300: #4EA8DE;
  --blue-600: #1E6F9F;

  --red-500: #E25858;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-600);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: 'Inter', sans-serif;
  font-size: .875rem;
  line-height: 1.25rem;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: .875rem;
  line-height: 1rem;
}